<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Extenuating Circumstances Student List</title>
        <link href="/images/css/cdol_bootstrap.css?~[time]" rel="stylesheet" media="screen">
        ~[wc:commonscripts]
        <link href="/images/css/screen.css?~[time]" rel="stylesheet" media="screen">
        <link href="/images/css/print.css?~[time]" rel="stylesheet" media="print">
        <link href="/images/css/cdol.css?~[time]" rel="stylesheet" media="screen">
        <link href="/images/css/cdol_print.css?~[time]" rel="stylesheet" media="print">
    </head>

    <body>
        ~[wc:admin_header_css]
        ~[wc:admin_navigation_css]
        <h1>Extenuating Circumstances Student List</h1>
        <div id="BootcampApp" data-require-path="./extenuatingCircumstances.js" data-module-name="extCirModule"
            data-bootstrap-local="true" ng-controller="extCirController as vm">
            <div class="center" ng-show="false">
                <div class="progress" data-pss-wait-spinner="large" style="background-color: transparent;"></div>
                <br /><strong>Loading...</strong>
            </div>
            <div class="box-round" ng-cloak>
                <div class="feedback-note" ng-show="!vm.loading && !vm.stuData.length" ng-cloak>No Students with
                    Extenuating
                    Circumstances</div>
                <div class="container-fluid" ng-show="vm.stuData.length">
                    <div class="row">
                        <div class="col-auto me-auto"><strong><span>Total:
                                    {{vm.stuData.length}}</span> <span>Selected:
                                    {{ (vm.stuData | filter:{selected:true}).length }}</span></strong>
                        </div>
                        <div class="col-auto me-2">
                            <button ng-disabled="!vm.countSelectedWith('extenuating_absences')"
                                ng-click="vm.clearSelected('Absences')">Clear Extenuating
                                Absences ({{ vm.countSelectedWith('extenuating_absences') }})</button>
                            <button ng-disabled="!vm.countSelectedWith('extenuating_tardies')"
                                ng-click="vm.clearSelected('Tardies')">Clear Extenuating Tardies
                                ({{ vm.countSelectedWith('extenuating_tardies') }})</button>
                            <button ng-disabled="!vm.countSelected()" ng-click="vm.clearSelected()">Clear All
                                Extenuating Circumstances ({{ vm.countSelected() }})</button>
                        </div>
                    </div>
                </div>
                <div class="m-0" ng-show="vm.stuData.length" data-pss-grid-widget data-data="vm.stuData"
                    data-filtered-data="pagedData" data-filter-constraint="no-filters">
                    <table class="grid" ng-show="vm.stuData.length">
                        <thead>
                            <tr>
                                <th style="width: 1px;">
                                    <input type="checkbox" ng-model="vm.allSelected" ng-change="vm.toggleAll()" />
                                </th>
                                <th data-pss-sort-fields="student_number">Student Number
                                </th>
                                <th data-pss-sort-fields="lastfirst" data-primary-sort="ascending">Student Name</th>
                                <th data-pss-sort-fields="grade_level">Grade Level</th>
                                <th data-pss-sort-fields="extenuating_absences">Extenuating Absences
                                </th>
                                <th data-pss-sort-fields="extenuating_tardies">Extenuating Tardies
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="stu in pagedData track by stu.dcid">
                                <td>
                                    <input type="checkbox" ng-model="stu.selected" />
                                </td>
                                <td><a href="/admin/students/extenuating_circumstances.html?frn=001{{stu.dcid}}"
                                        target="_blank">{{stu.student_number}}</a>
                                </td>
                                <td>{{stu.lastfirst}}</td>
                                <td class="center">{{stu.grade_level}}</td>
                                <td class="center"><span
                                        data-ng-class="{'mark-complete': stu.extenuating_absences, 'mark-incomplete': !stu.extenuating_absences}"></span>
                                </td>
                                <td class="center"><span
                                        data-ng-class="{'mark-complete': stu.extenuating_tardies, 'mark-incomplete': !stu.extenuating_tardies}"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="hide" id="dialogContainer">
                <div id="editDiv" class="mx-2 my-3">
                    {{vm.dialogMessage}}
                </div>
            </div>
        </div>

        ~[wc:admin_footer_css]
    </body>

</html>